﻿// GENERAL APP STYLES

html,body {
	margin:0;
	padding:0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
	@include font-size(1.6);
}

// ELEMENTS
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h1 {
	
}

h2 {

}

p {
	
}

section {

}

