﻿<section id="chat-area" class="chat-area">

	<div class="chat-history">
		<div ng-repeat="message in messages">
			<span class="name">{{message.name}}: </span>{{message.text}}
		</div>
	</div>

	<chat-input></chat-input>

</section>
