﻿<div id="chat-input" class="chat-input">
	<form>
		<input type="text" id="chat-text" ng-model="chatText" />
		<input type="submit" name="submit" value="Send" ng-click="sendMessage()"/>
	</form>
</div>